<section>
    <!--Region 1 Carousel -->
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <h1 style="text-align: center; background-color:rgb(255, 20, 85); height: 400px;">News</h1>
        </div>
        <div class="col-xs-12 col-sm-9">
            <h1 style="text-align: center; background-color: rgb(255, 178, 46);height: 400px;">Carousel</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h1 style="text-align: center; background-color:rgb(0, 235, 155);height: 300px;">Welcome Note</h1>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1 style="text-align: center; background-color: rgb(23, 193, 253); height: 300px;">Gallery Link</h1>
            </div>
        </div>
        <div>
            <h1 style="text-align: center; background-color:rgb(255, 20, 85); height: 250px;">Jewels of Nepal</h1>
        </div>
    </div>
</section>