<section>
    <!--Region 1 Carousel -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alternate">
                    <div id="carousel-example-generic" class="carousel slide center-block" style="width:100%;"
                         data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active row">
                                <div class="col-sm-7 no-padding-right width-adjust">
                                    <img class="img-responsive" src="../../images/fb-images/slider1.jpg"
                                         alt="Rusty Cardinal">
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-sm-7 no-padding-right width-adjust">
                                    <img class="img-responsive" src="../../images/fb-images/carousel-img2.jpg"
                                         alt="Angel I's">
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-sm-7 no-padding-right width-adjust">
                                    <img class="img-responsive" src="../../images/fb-images/carousel-img3.jpg"
                                         alt="Rusty Cardinal">
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-sm-7 no-padding-right width-adjust">
                                    <img class="img-responsive" src="../../images/fb-images/carousel-img4.jpg"
                                         alt="Rusty Cardinal">
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-sm-7 no-padding-right width-adjust">
                                    <img class="img-responsive" src="../../images/fb-images/carousel-img5.jpg"
                                         alt="Owl Red">
                                </div>
                            </div>
                            <!-- ... -->
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!--Welcome Section-->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="box welcome-box">
                    <h2>Welcome to Jewels of Nepal</h2>
                    <p>Welcome to Jewels of Nepal Website. We are a small, family owned company based in Kathmandu,
                        Nepal. We offer a variety of designer jewelery for the least of prices. Our Jewelery are all
                        handcrafted and 100% authentic. </p>
                    <a href="/jonep/about-us"><input type="button" class="jonep-def-btn" value="More About Us"></a>
                </div>
            </div>
        </div>
        <!--Promotion Section-->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="promo-box">
                    <div class="promo-deal col-sm-5 col-xs-12">
                        <h2>Dashin Giveaway Contest</h2>
                        <p>Enter to win beautiful hand crafted jewelries and upload your picture on the website.</p>
                        <a href="/jonep/promotions"><input type="button" class="jonep-def-btn" value="See Details"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Article Section-->
        <h1 style="text-align: center; background-color:rgb(255, 20, 85); height: 250px;">Jewels of Nepal</h1>
    </div>
</section>