<html>
<head>
    <% include templates/head.ejs %>
    <title><%= title %></title>
</head>
<body>
<% include templates/header.ejs %>
<% include templates/navigation/navigation-home.ejs %>
<% include _jonep.ejs %>
<% include templates/footer.ejs %>
<% include templates/scripts.ejs %>

</body>
</html>


