<div class="container">
    <div class="bp-page-title">
        <h1 class="bp-h1">Typography</h1>
        <p>[ Typography includes basic and defaults of the website, elements such as body text, headings,  ]</p>
    </div>
    <!-- body copy html -->
    <div class="bp-element">
        <h3 class="bp-h3">Body Copy</h3>
        <p>[The Body copy is basically the website's default text and background]</p>
        <div class="row">
            <div class="col-xs-8">
                <div class="bp-box">
                    <p>What is this life if, full of care,
                        We have no time to stand and stare.
                        No time to stand beneath the boughs
                        And stare as long as sheep or cows.
                        No time to see, when woods we pass,
                        Where squirrels hide their nuts in grass.
                        No time to see, in broad daylight,
                        Streams full of stars, like skies at night.
                        No time to turn at Beauty's glance,
                        And watch her feet, how they can dance.
                        No time to wait till her mouth can
                        Enrich that smile her eyes began.
                        A poor life this if, full of care,
                        We have no time to stand and stare.</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bp-box ">
                    <ul>
                        <li>background-color: #f7f7f7;<span class="color-display" style="background-color:#f7f7f7;"></span></li>
                        <li>font family: 'Josefin Slab'</li>
                        <li>font size : 18px </li>
                        <li>color:#444444 </li>
                        <li>font-weight: 600px</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- heading one html -->
    <div class="bp-element">
        <h3 class="bp-h3">Heading One h1</h3>
        <!-- <p>[The Body copy is basically the website's default text and background]</p> -->
        <div class="row">
            <div class="col-xs-8">
                <div class="bp-box">
                    <h1>Heading One</h1>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bp-box ">
                    <ul>
                        <li>font family:'Poiret One', cursive;</li>
                        <li>font size : 48px </li>
                        <li>color:#444444 </li>
                        <li>font-weight: 600</li>
                        <li>text-transform: uppercase;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- heading two html -->
    <div class="bp-element">
        <h3 class="bp-h3">Heading Two h2</h3>
        <!-- <p>[The Body copy is basically the website's default text and background]</p> -->
        <div class="row">
            <div class="col-xs-8">
                <div class="bp-box">
                    <h2>Heading Two</h2>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bp-box ">
                    <ul>
                        <li>font family:'Poiret One', cursive;</li>
                        <li>font size : 30px </li>
                        <li>color:#444444 </li>
                        <li>font-weight: 600</li>
                        <li>text-transform: uppercase</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- heading three html -->
    <div class="bp-element">
        <h3 class="bp-h3">Heading Three h3</h3>
        <!-- <p>[The Body copy is basically the website's default text and background]</p> -->
        <div class="row">
            <div class="col-xs-8">
                <div class="bp-box">
                    <h3>Heading Three</h3>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bp-box ">
                    <ul>
                        <li>font family:'Poiret One', cursive;</li>
                        <li>font size : 24px </li>
                        <li>color:#444444 </li>
                        <li>font-weight: 600</li>
                        <li>text-transform: none</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bp-element">
        <h3 class="bp-h3">Heading Four h4</h3>
        <!-- <p>[The Body copy is basically the website's default text and background]</p> -->
        <div class="row">
            <div class="col-xs-8">
                <div class="bp-box">
                    <h4>Heading Four</h4>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bp-box ">
                    <ul>
                        <li>font family:'Poiret One', cursive;</li>
                        <li>font size : 18px </li>
                        <li>color:#444444 </li>
                        <li>font-weight: 600</li>
                        <li>text-transform: none</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>