<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Site Index</h1>
    <br>
    <ul>
      <li><a href="/jonep">Jewels of Nepal</a></li><br>
      <li><a href="/jonep-bp">Jewels of Nepal Boilerplate</a></li>
    </ul>
  </body>
</html>
