<section>
    <!--Region 1 Carousel -->
    <div class="little-container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <h1 style="text-align: center; background-color:rgb(255, 20, 85); height: 600px;">Filter</h1>
                <p>This Filter Div should disappear in Mobile View and the filter will then appear on top of the product div</p>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h1 style="text-align: center; background-color: rgb(255, 178, 46);height: 100%;">Products</h1>
            </div>
        </div>
    </div>
</section>