<div class="little-container">

    <div class="row">
        <div class="col-xs-5">
            <h2 class="left-nav-title">Item List</h2>
            <div class="left-nav">
                <ul class="internal-anchor-scroll">
                    <a href="/jonep-bp/modules/carousel">
                        <li>Carousel</li>
                    </a>
                    <a href="/jonep-bp/modules/news"><li>News</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>
