<section>
    <div class="row">
            <div class="backdrop-about-us">

            </div>
        </div>
    <div class="container">
        <h1>About Jewels of Nepal</h1>
        <p>Lorem ipsum dolor sit amet, enim libero pretium nulla nec fermentum et, ante tortor vel eget nulla nam, nulla fringilla varius turpis cursus, fusce pulvinar consectetuer metus nec, orci lacinia nunc urna congue erat. Potenti ipsum ac interdum et. Quis vitae scelerisque nec magna, wisi dui sit in condimentum molestie tellus, pede tellus class nostra sollicitudin. Fusce nulla pharetra, vitae etiam facilisis ut et volutpat, sollicitudin eu pharetra lacus blandit vitae urna, odio penatibus. Urna ut vulputate natoque in, mauris consequat consectetuer sem, dis dui nec risus, non fringilla lacus donec porttitor eros vel, sapien donec wisi nibh vel ultricies. Duis neque in tincidunt, accumsan mollis feugiat eget elementum congue, qui nullam, nullam mauris urna nunc. Nibh vulputate ligula fringilla sit arcu, vitae dui, sollicitudin ipsum enim bibendum. Ipsum mattis lorem aptent, litora sodales nam nec. Nunc tempor duis lacinia accumsan torquent, necessitatibus eu potenti dictum. Rhoncus fringilla magna, quam convallis fusce, duis dictum venenatis erat, sed massa molestie non, lacus montes nec in vel. Neque posuere cursus et maecenas, ac quis nibh, id felis pulvinar a et morbi justo.</p>

        <!--Accordion-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Raw Material and Product Assembly
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Employmees and Public Relations
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What's Ahead ?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

        <h2>Want to know more about us ?</h2>
        <a href="#">Send us an Email</a>
    </div>
</section>