<div class="little-container">

    <div class="row">
        <div class="col-xs-5">
            <h2 class="left-nav-title">Item List</h2>
            <div class="left-nav">
                <ul class="internal-anchor-scroll">
                    <a href="/jonep-bp/page-templates/home-page">
                        <li>Home Page</li>
                    </a>
                    <a href="/jonep-bp/page-templates/gallery-page">
                        <li>Gallery Page</li>
                    </a>
                    <a href="/jonep-bp/page-templates/product-page">
                        <li>Product Page</li>
                    </a>
                    <a href="/jonep-bp/page-templates/misc-page">
                        <li>About Us / Contact Us Page</li>
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>