<html>
<head>
    <% include ../bp-template/bp-head.ejs%>
    <title><%= title %></title>
</head>
<!--bp-body is for the strip background just for the boilerplate-->
<body class="bp-body">
<% include ../bp-template/bp-header.ejs%>
<% include ../bp-template/navigation/navigation-page-template.ejs%>
<% include _page-templates.ejs %>
<% include ../bp-template/bp-footer.ejs%>
<% include ../bp-template/bp-scripts.ejs%>
</body>
</html>