<header style="background: transparent">
    <div class="page-title row">
        <div class="col-sm-4 head-logo">
            <a href="/"><img src="/images/jon-logo-blue.png"></a>
            <a href="#"><h1>Jewels of Nepal</h1></a>
        </div>
        <div class="col-sm-7 head-title">
            <h1 class="sub-title">Boilerplate</h1>
        </div>
    </div>
</header>
<!--navigation-->
<!--<nav>-->
    <!--<div id='cssmenu'>-->
        <!--<ul class="left-menu" style="background: transparent">-->
            <!--<li><a href='/jonep-bp'><i class="fa fa-home" aria-hidden="true"></i></a></li>-->
            <!--<li class='active'><a href='/jonep-bp/site-styles'>Site Style</a></li>-->
            <!--<li><a href='/jonep-bp/modules'>Modules</a></li>-->
            <!--<li><a href='/jonep-bp/page-templates'>Layout</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->