<header>
    <div class="page-title row">
        <div class="col-sm-3 head-logo">
            <a href="#"><img src="/images/jon-logo-blue.png"></a>
            <a href="#"><h1>Jewels of Nepal</h1></a>
        </div>
        <div class="col-sm-2"><!--empty div--></div>
        <div class="col-sm-7 header-bg-img">

        </div>
    </div>
</header>

