<div class="container">
    <div class="bp-page-title">
        <h1 class="bp-h1">Box</h1>
    </div>
    <!-- box default html -->
    <div class="bp-element">
        <h3 class="bp-h3">Box [Default]</h3>
        <div class="row">
            <div class="col-sm-8">
                <div class="bp-box">
                    <div class="box box-drop-shadow">
                        <p><b>Hello user</b>, this is box site style example for the website. this is box site style example for the website.this is box site style example for the website.</p>
                        <p>this is box site style example for the website.this is box site style example for the website.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bp-box">
                    <ul>
                        <li>padding:</li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--box default html -->
    <!-- box border top html -->
    <div class="bp-element">
        <h3 class="bp-h3">Box [with Border Top]</h3>
        <div class="row">
            <div class="col-sm-8">
                <div class="bp-box">
                    <div class="box box-top-border">
                        <p><b>Hello user</b>, this is box site style example for the website. this is box site style example for the website.this is box site style example for the website.</p>
                        <p>this is box site style example for the website.this is box site style example for the website.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bp-box">
                    <ul>
                        <li>padding:</li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--box border top html -->
    <!-- box border top and bottom html -->
    <div class="bp-element">
        <h3 class="bp-h3">Box [with Border Top and Bottom]</h3>
        <div class="row">
            <div class="col-sm-8">
                <div class="bp-box">
                    <div class="box box-top-bottom-border">
                        <p><b>Hello user</b>, this is box site style example for the website. this is box site style example for the website.this is box site style example for the website.</p>
                        <p>this is box site style example for the website.this is box site style example for the website.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bp-box">
                    <ul>
                        <li>padding:</li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>