<section>
    <div class="little-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1 style="text-align: center; background-color:rgb(255, 20, 85); height: 600px;">Image and
                    Description</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1 style="text-align: center; background-color: rgb(255, 178, 46);height: 400px;">Ship/Delivery/Payment
                    Info</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1 style="text-align: center; background-color:rgb(0, 235, 155);height: 500px;">Related Product
                    Carousel</h1>
            </div>
        </div>
    </div>

</section>