<html>
<head>
    <% include ../../bp-template/bp-head.ejs%>
    <title><%= title %></title>
</head>
<body class="bp-body">
<% include ../../bp-template/bp-header.ejs%>
<% include ../../bp-template/navigation/navigation-page-template.ejs%>
<% include _product-page.ejs %>
<% include ../../bp-template/bp-footer.ejs%>
<% include ../../bp-template/bp-scripts.ejs%>
</body>
</html>