
<!--navigation-->
<nav>
    <div id='cssmenu'>
        <div class="resp-navicon">Menu<i class="fa fa-bars"></i></div>
        <ul>
            <li><a href='/jonep'><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href='/jonep/gallery'>Gallery</a></li>
            <li><a href='/jonep/about-us'>About Us</a></li>
            <li class="active" style="margin-right:388px;"><a href='/jonep/contact-us'>Contact Us</a></li>
            <div class="sticky-nav-logo">
                <a href="/"><img src ="/images/jon-logo-blue.png"><h1>Jewels of Nepal</h1> </a>
            </div>
        </ul>

    </div>
</nav>
<!--navigation-->
