
<!--navigation-->
<nav>
    <div id='cssmenu'>
        <div class="resp-navicon">Menu<i class="fa fa-bars"></i></div>
        <ul>
            <li><a href='/jonep-bp'><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href='/jonep-bp/site-styles'>Site Styles</a></li>
            <li class="active"><a href='/jonep-bp/modules'>Modules</a></li>
            <li style="margin-right:388px;"><a href='/jonep-bp/page-templates'>Page Templates</a></li>
            <div class="sticky-nav-logo">
                <a href="/"><img src="/images/jon-logo-blue.png">
                    <h1>Jewels of Nepal</h1></a>
            </div>
        </ul>
    </div>
</nav>
<!--navigation-->
