<html>
<head>
    <% include ../templates/head.ejs%>
    <title><%= title %></title>
</head>

<% include ../templates/header.ejs%>
<% include ../templates/navigation/navigation-contact.ejs%>
<% include _contact-us.ejs %>
<% include ../templates/footer.ejs%>
<% include ../templates/scripts.ejs%>
</body>
</html>