<div class="container">
    <div class="bp-page-title">
        <h1 class="bp-h1">Carousel</h1>
    </div>
    <!-- carousel default html -->

    <div class="bp-element">
        <h3 class="bp-h3">Carousel [Alternate]</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="bp-box">
                    <!-- html for alternate carousel -->
                    <div class="alternate">
                        <div id="carousel-example-generic" class="carousel slide center-block" style="width:899px;" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active row">
                                    <div class="col-sm-7 no-padding-right">
                                        <img class="img-responsive" src="../../images/fb-images/rusty-cardinal.jpg" alt="Rusty Cardinal">
                                    </div>
                                    <div class="col-sm-5 prod-des red-card" style="height: 616px">
                                        <div class="carousel-caption">
                                            <ul>
                                                <li><h1 class="page-title rust-card-txt-col">Rusty Cardinal</h1></li>
                                                <li>Weight : 12 pounds </li>
                                                <li>Product Name : Rusty Cardinal</li>
                                                <li>Price : Rs.460</li>
                                                <li><p>Description : Elegent and bold the Rusty Cardinal will spark with your eyes.</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-sm-7 no-padding-right">
                                        <img class="img-responsive" src="../../images/fb-images/angel-eyes.jpg" alt="Angel I's">
                                    </div>
                                    <div class="col-sm-5 prod-des angel-eye" style="height: 714px">
                                        <div class="carousel-caption">
                                            <ul>
                                                <li><h1 class="page-title ang-eyes-txt-col">Angel Eyes</h1></li>
                                                <li>Weight : 12 pounds </li>
                                                <li>Product Name : Rusty Cardinal</li>
                                                <li>Price : Rs.460</li>
                                                <li><p>Description : Elegent and bold the Rusty Cardinal will spark with your eyes.</p></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-sm-7 no-padding-right">
                                        <img class="img-responsive" src="../../images/fb-images/black-swan.jpg" alt="Rusty Cardinal">
                                    </div>
                                    <div class="col-sm-5 prod-des blk-swan" style="height: 615px">
                                        <div class="carousel-caption">
                                            <ul>
                                                <li><h1 class="page-title blk-swan-txt-col">Black Swan</h1></li>
                                                <li>Weight : 12 pounds </li>
                                                <li>Product Name : Rusty Cardinal</li>
                                                <li>Price : Rs.460</li>
                                                <li><p>Description : Elegent and bold the Rusty Cardinal will spark with your eyes.</p></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-sm-7 no-padding-right">
                                        <img class="img-responsive" src="../../images/fb-images/dark-raven.jpg" alt="Rusty Cardinal">
                                    </div>
                                    <div class="col-sm-5 prod-des dark-raven" style="height: 662px">
                                        <div class="carousel-caption">
                                            <ul>
                                                <li><h1 class="page-title dark-raven-txt-col">Dark Raven</h1></li>
                                                <li>Weight : 12 pounds </li>
                                                <li>Product Name : Rusty Cardinal</li>
                                                <li>Price : Rs.460</li>
                                                <li><p>Description : Elegent and bold the Rusty Cardinal will spark with your eyes.</p></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-sm-7 no-padding-right">
                                        <img class="img-responsive" src="../../images/fb-images/owl-red.jpg" alt="Owl Red">
                                    </div>
                                    <div class="col-sm-5 prod-des owl-red" style="height: 643px">
                                        <div class="carousel-caption">
                                            <ul>
                                                <li><h1 class="page-title owl-red-txt-col">Owl Red</h1></li>
                                                <li>Weight : 12 pounds </li>
                                                <li>Product Name : Rusty Cardinal</li>
                                                <li>Price : Rs.460</li>
                                                <li><p>Description : Elegent and bold the Rusty Cardinal will spark with your eyes.</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <!-- ... -->
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bp-element">
        <h3 class="bp-h3">Carousel [Default]</h3>
        <div class="row">
            <div class="col-sm-8">
                <div class="bp-box">
                    <!--html for carousel-->
                    <div id="carousel-example-generic" class="carousel slide center-block" style="width:465px;" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="#" class="img-responsive"><img src="../../images/fb-images/rusty-cardinal.jpg"/></a>
                                <!-- <img class="img-responsive" src="../../images/fb-images/rusty-cardinal.jpg" alt="Rusty Cardinal"></a> -->
                                <div class="carousel-caption">
                                    Rusty Cardinal
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="../../images/fb-images/angel-eyes.jpg" alt="Rusty Cardinal">
                                <div class="carousel-caption ang-eyes-txt-col">
                                    Angel Eyes
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="../../images/fb-images/owl-red.jpg" alt="Rusty Cardinal">
                                <div class="carousel-caption">
                                    Owl Red
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="../../images/fb-images/black-swan.jpg" alt="Rusty Cardinal">
                                <div class="carousel-caption blk-swan-txt-col">
                                    Black Swan
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="../../images/fb-images/fishy-red.jpg" alt="Rusty Cardinal">
                                <div class="carousel-caption">
                                    Fishy Red
                                </div>
                            </div>
                            ...
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!--html for carousel-->
            </div>
        </div>
    </div>
</div>
<!--<script src="../../javascript/sticky-nav.js" type="text/javascript"></script>-->
<!--<script src="../../javascript/stick-nav-anchor-fix.js" type="text/javascript"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>